In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Berlin-tram-route - Sheet1.csv")
df

,route,M1,M2,M4,M5,M6,M8,M10,12,M13,...,21,27,37,50,60,61,62,63,67,68
0,M1,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,M2,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M4,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M5,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M6,NaN,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,M8,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,M10,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,12,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,M13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
9,16,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,M17,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
11,18,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,21,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
13,27,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
14,37,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
15,50,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0
17,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
18,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,1.0,1.0
19,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0
20,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0
21,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN

In [3]:
df.keys()

Index(['route', 'M1', 'M2', 'M4', 'M5', 'M6', 'M8', 'M10', '12', 'M13', '16',
       'M17', '18', '21', '27', '37', '50', '60', '61', '62', '63', '67',
       '68'],
      dtype='object')

In [4]:
#we define a list of 22 colours since we need maximum 22 colours to represent  
colours=["red", "blue", "yellow", "green", "orange", "white", "brown", "black", "gold", "cyan", "magenta", "silver", "pink", "crimson", "coral", "maroon", "olive", "plum", "sepia", "turquoise", "violet", "purple"]
print(len(colours))

22

In [5]:
#we define the sequence in which we select the route
route=['M1', 'M2', 'M4', 'M5', 'M6', 'M8', 'M10', '12', 'M13', '16', 'M17', '18', '21', '27', '37', '50', '60', '61', '62', '63', '67', '68']

In [6]:
#Dictionary to store route as key and its colour(not yet assigned) as value
Assignment={'M1': '', 'M2': '', 'M4': '', 'M5': '', 'M6': '', 'M8': '', 'M10': '', '12': '', 'M13': '', '16': '', 'M17': '', '18': '', '21': '', '27': '', '37': '', '50': '', '60': '', '61': '', '62': '', '63': '', '67': '', '68': ''}
print(Assignment)

{'M1': '', 'M2': '', 'M4': '', 'M5': '', 'M6': '', 'M8': '', 'M10': '', '12': '', 'M13': '', '16': '', 'M17': '', '18': '', '21': '', '27': '', '37': '', '50': '', '60': '', '61': '', '62': '', '63': '', '67': '', '68': ''}

In [7]:
no=len(route) #number of all routes
last=0 #variable to indicate index of last colour assigned
Assignment['M1']=colours[last]
for i in range(no):
  feasible_colours=colours.copy()
  #code for checking for intersection
  for j in range(i):
    flag=0 #flag for checking if existing colour can be used
    if(df.iat[i,j+1]!=1):
      col=Assignment[route[j]]
      c=0 #counter for number of intersections
      for k in range(i):
        if col==Assignment[route[k]]:
          if df.iat[i,k+1]==1:
            c=c+1
      if c==0:
        flag=1
        Assignment[route[i]]=col #reusing an already used colour
        break
    if flag==0 and j==i-1:
      last=last+1
      Assignment[route[i]]=colours[last] #assigning a new colour

#restricting list of colours to only those needed
feasible_colours=feasible_colours[0:last+1]  

#printing route, it's colour, and number of colours required
print(Assignment)
print(feasible_colours)
for k,v in Assignment.items():
  print("Colour of Route", k, "is", v)
print("Number of colours needed is", len(feasible_colours))

{'M1': 'red', 'M2': 'red', 'M4': 'blue', 'M5': 'yellow', 'M6': 'green', 'M8': 'orange', 'M10': 'white', '12': 'yellow', 'M13': 'brown', '16': 'red', 'M17': 'blue', '18': 'red', '21': 'yellow', '27': 'white', '37': 'red', '50': 'blue', '60': 'green', '61': 'red', '62': 'blue', '63': 'yellow', '67': 'orange', '68': 'white'}
['red', 'blue', 'yellow', 'green', 'orange', 'white', 'brown']
Colour of Route M1 is red
Colour of Route M2 is red
Colour of Route M4 is blue
Colour of Route M5 is yellow
Colour of Route M6 is green
Colour of Route M8 is orange
Colour of Route M10 is white
Colour of Route 12 is yellow
Colour of Route M13 is brown
Colour of Route 16 is red
Colour of Route M17 is blue
Colour of Route 18 is red
Colour of Route 21 is yellow
Colour of Route 27 is white
Colour of Route 37 is red
Colour of Route 50 is blue
Colour of Route 60 is green
Colour of Route 61 is red
Colour of Route 62 is blue
Colour of Route 63 is yellow
Colour of Route 67 is orange
Colour of Route 68 is white
Number of colours needed is 7